# directories ignored
build/
dist/
__pycache__/
pyweber.egg-info
.pytest_cache/
.vscode/
htmlcov/
site/
.vscode/
.pyweber/
tests/config

# files ignored
setup.py
upload_lib.py
clear_cache.py
testes.py